[submodule "living-room-js"]
	path = living-room-js
	url = https://github.com/jedahan/living-room-js
[submodule "living-room-server"]
	path = living-room-server
	url = https://github.com/jedahan/living-room-server
[submodule "living-room-database"]
	path = living-room-database
	url = https://github.com/jedahan/living-room-database
[submodule "living-room-sensors"]
	path = living-room-sensors
	url = git@github.com:jedahan/living-room-sensors
